.footer-section{
    background-color: #222;
    padding: 2% 6%;
    border-top: 1px solid rgb(255, 255, 255, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}
.footer-section a{
    color: #fff;
}