.movie-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
}
.movies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    width: 19rem;
    padding: 15px;
    background-color: #222;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, .15);
}
.card .img-box{
    height: 378px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 15px;
}
.card .card-contents .cat{
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, .5);
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.card .card-contents .cat .category{
    color: #eee;
    padding: 3px;
    text-transform: uppercase;
    font-size: 10px;
}
.card .card-contents h1{
    color: #fff;
    padding-top: 8px;
    font-size: 22px;
}
.card .card-contents h5{
    color: #eee;
    font-size: 14px;
    font-weight: 500;
}
.card .card-contents .overlay{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    margin-top: 12px;
    transition: 1s;
}
.card:hover img{
    transform: scale(1.2);
}
.card:hover{
    transform: scale(1.1);
}


.movie-section .movie-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.movie-section .movie-header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.movie-section .movie-header .nav .heading{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
}
.search {
    width: 80%;
    margin: 4rem  1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.75rem;
    border-radius: 3rem;
    background: #222;
    border: 1px solid rgb(255, 255, 255, .1);
}
.search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: #a1a1a1;
    background: #222;
}
.search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .search {
      padding: 5% 6%;
      width: 100%;
    }
    .search input {
      font-size: 1rem;
    }
    .search img {
      width: 20px;
      height: 20px;
    }
}
  
/* @media screen and (max-width: 400px) {
    .container {
      margin-top: 2rem;
    }
    .movie {
      width: "100%";
      margin: 1rem;
    }
} */