.movie-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
}
.movies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.card{
    width: 19rem;
    padding: 15px;
    background-color: #222;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, .15);
}
.card .img-box{
    height: 378px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 15px;
}
.card .card-contents .cat{
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255, .5);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.card .card-contents .cat .category{
    color: #eee;
    padding: 3px;
    text-transform: uppercase;
    font-size: 12px;
}
.card .card-contents h1{
    color: #fff;
    padding-top: 8px;
    font-size: 28px;
}
.card .card-contents h5{
    color: #eee;
    font-size: 16px;
    font-weight: 500;
}
.card .card-contents .overlay{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    margin-top: 12px;
    transition: 1s;
}
.card:hover img{
    transform: scale(1.2);
}



.movie-section .movie-header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.movie-section .movie-header .nav .heading{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
}